.container {
    background-color: #ffff;
    border-radius: 15px;
    overflow: hidden;
    width:240px;
    max-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #000000;
}

body {
    font-family: sans-serif;
}

.thumb img {
    width: 100%;
    height: auto;
    display: block;
}


strong{
    color:#488ADA;
}

p{
    font-size: 10px;
    color: #717171;
    text-align: justify;
}

strong{
    font-size: 14px;
    font-weight:bold;
}

.tag-container{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 12px;
    text-align: center;
}

.tag-container li a{
    border-radius: 28px;
    font-size: 12px;
    background-color:rgba(161,161,161,0.24);
    padding:6px 12px;
    gap:10px;
    height: 24px;
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    margin-bottom: 12px;
    margin: 0 auto;
}

.container .contents{
    padding: 12px;
}