@charset "UTF-8";
body{
    background-color: #2C2C2C;
    color: #FFFFFF;
    display: flex;               /* Flexbox 활성화 */
    justify-content: center;     /* 가로 중앙 */
    align-items: center;         /* 세로 중앙 */
    height: 100vh;               /* 화면 높이 꽉 채우기 */
    margin: 0; 
}
.container{
    width: 375px;
    text-align: center;
    flex-direction: column;
    gap:20px;
    /* 메인축으로의 정렬 */
    justify-content: center;
    align-items: center;
    display: flex;  
}
.container p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    letter-spacing: 45%;
}
.container img{
    width: 90px;
}

.slogan-container img{
    width: 276px;
}

.slogan-container p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    letter-spacing:-0.3px;
    font-weight: regular;
}
.link-container{
    display:flex;
    flex-direction:column; /* 버튼 2개를 세로로 배치 (가로로 하려면 row로 변경) */
    gap: 10px;
    margin-top: 168px;
    width: 100%; /* 버튼 전체 너비 맞춤 */
    align-items: center;           /* 버튼 사이 간격 */
}

.button1{
    width: 283px;
    height: 42px;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.button2{
    width: 283px;
    height: 42px;
    background-color:#2C2C2C;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items:  center;
    text-decoration: none;
}
