/*netflix.css*/
body {
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
    height: 100vh;
    background-color: #000;
}

.background {
    width:100%;
    height:100vh;
    background-image: url('../images/stylish-background-design-with-cute-monsters-standing-creepy-forest-welcome-monsters-city-celebratio/13245.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.4); /* 어둡게 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

.header-right{
    display: flex;
    gap:10px;
    align-items: center;
}
.select-text { position: relative; }
.select-text::before{
  content: "🌐";              /* 없애고 싶으면 '' 로 */
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 14px;
}

select {
  padding: 6px 28px 6px 32px; /* 왼쪽 아이콘 공간 */
  border-radius: 3px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;                /* 글자 흰색 */
  cursor: pointer;
  appearance: none;  
}

select option{ color:#000; }

.login-btn {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;            /* 강제로 높이 맞추기 */
    display: flex;
    align-items: center;
}
.main-section {
    text-align: center;
    margin-top: 150px;
}
.main-section h1 {
    font-size: 56px;
    font-weight: bold;
    margin: 0 0 15px; 
}
.sub-text {
    font-size: 19px;
    margin: 20px 0;
}
form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:10px;
}

form input{
  width: 320px;
  font-size: 16px;            
  line-height: 24px;
  padding: 12px 16px;     
  border:1px solid rgba(255,255,255,.5);
  border-radius:4px;
  background: rgba(0,0,0,.4);
  color:#fff;
}

form input::placeholder{ color: rgba(255,255,255,.8); }

form button{
  padding: 16px 26px;
  background:#e50914;
  color:#fff;
  border:none;
  border-radius:4px;
  font-weight:600;
  cursor:pointer;
}

.container {
      background: linear-gradient(135deg, #2b1a47, #3a2a6a);
      color: white;
      border-radius: 12px;
      text-align: left;
      width: 836px;
      height: 101px;
      padding:16px 32px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;
      display: flex; 
      align-items: center;
      justify-content: space-between;
      margin: 50px auto;
    }

.txt h3 {
      margin: 0 0 10px;
      font-size: 1.4rem;
    }

.container a {
      background: #ffffff33;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      font-size: 0.9rem;
      cursor: pointer;
    }

.container a:hover{
  background-color: rgba(255, 255, 255, 0.3) ;
}

.container:hover{
    scale: 1.2;
    background:linear-gradient(135deg, #3d206c, #231d84); 
}

.txt {
  display: flex;
  flex-direction: column;
}


/*8월 20일*/

.bestview-contents{
  max-width: 1200px;
  margin:40px auto;
  padding:20px;
}

h3{
  font-size: 1.5em;
  margin-bottom: 1rem;
}

ol{
  display: flex;
  gap:10px;
  list-style: none;
  padding:0
  margin:10px;
}

ol li{
  position: relative;
}

ol li i{
  position: absolute;
  bottom:-20px;
  left:-10px;
  font-style: nomal;
  font-weight: bold;
  font-size: 100px;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  line-height: 1;
}

ol li a img{
  display:block;
  width: 180px;
  border-radius: 8px;
}

.reasons-contanier{
  width: 290px;
  height: 335px;
}

.reasons{
  display:flex;
  gap:20px;
  margin-top: 40px;
}

.reason-box{
  flex:1;
  background: linear-gradient(to top right, #1c1c40, #1c1c1c);
  padding: 20px;
  border-radius: 12px;
  margin: -12px 0px 0px -16px;
}

.reason-box h4 {
  font-size: 24px;
}

.reason-box p {
  font-size: 0.9rem;
  color: #ccc;
}

